





/*------------------élément principale------------------*/

html{
    background-color: black;
}

#ecranP{
    background-color: burlywood;
    height: 700px;
    width: 2545px;
}

#log{
    background-color: black;
    color: white;
    height: 130px;
    width: 1350px;
    margin-left: 650px;
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
  

#ecranS{
    background-color: burlywood;
    height: 120px;
    width: 2550px;
}

#attaque{
    background-color: blue;
    color:white;
    margin-top: 25px;
    margin-left: 320px;
    border:2px solid red;
    float: left;
    width:25%;
    text-align:center;
    font-weight: bolder;
    line-height: 4;
}

#defense{
    background-color: blue;
    margin-top: 25px;
    color:white;
    border:2px solid red;
    float: left;
    width:25%;
    text-align:center;
    font-weight: bolder;
    line-height: 4;
}

#soin{
    background-color: blue;
    margin-top: 25px;
    color:white;
    border:2px solid red;
    float: left;
    width:25%;
    text-align:center;
    font-weight: bolder;
    line-height: 4;

}

label {
    padding-right: 10px;
    font-size: 1rem;
}


/*------------------élément barre de vie------------------*/

#affichage_stats{
    background-color: cadetblue;
    height: 100px;
    width: 500px;
    position: absolute;
    top:608px;
    left:1040px;

}


#affichage_pv{
    visibility: hidden;
    display: flex;
    flex-direction: row;
}

#affichage_mana{ 
    visibility: hidden;
    display: flex;
    flex-direction: row;
}




/*  progress[value] {
       -webkit-appearance: none;
    appearance: none;
}
   
  
    progress[value]::-webkit-progress-value {
    background-color: red;
    }
*/

#pvH1{
     margin-left: 20px;
     margin-top: 20px;
}
 
#bPvM1{
     margin-left: 2060px;
     margin-top: 20px;
}


.personnageType1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin-right: auto;

}

.personnageType2{
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: auto;
}

/*------------------affichage------------------*/


#L{
    height: 20px;
    width: 50px;
    background-color: white;

}

#XL{
    height: 20px;
    width: 50px;
    background-color: white;
}

#XXL{
    height: 20px;
    width: 50px;
    background-color: white;
}